<div class="card p-3 shadow">
    <h3 class="text-center my-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, reprehenderit!</h3>
    <span class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos earum natus odit rem. Voluptatum doloremque animi odit quis, sapiente dolore molestias aspernatur molestiae quaerat esse et nam modi tempore vitae iusto id, aliquid error dolorum illum minima fugiat! Cumque nemo libero magnam ducimus non quam asperiores aliquam debitis ex minima!</span>
    <span class="text-center mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere architecto culpa quo totam autem a distinctio possimus ut molestiae voluptatibus ullam aliquid aliquam eius aperiam earum sed corrupti ducimus nobis odit laudantium pariatur officia, eligendi voluptate! Illo cum accusamus ex eum est quaerat vero, impedit quibusdam possimus at ipsa voluptas.</span>
    <div class="mt-4">

    </div>
  
    <div class="my-4 mx-auto">
      <button routerLink="/auth" type="button" class="btn btn-primary btn-lg btn-block">Sign IN</button>
    </div>
  </div>
  