<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button 
  class="navbar-toggler collapsed" 
  type="button" 
  aria-expanded="false" 
  (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand mx-3" routerLink="/">T1</a> 
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link noselect" href="/" routerLink="/" [ngClass]="{'active': url == '/'}">Index</a>
      </li>
      <li class="nav-item">
        <a class="nav-link noselect" href="/auth" routerLink="/auth" [ngClass]="{'active': url == '/auth'}">Authorization</a>
      </li>            
    </ul>
  </div>
</nav>